//Fonts
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Grenze Gotisch', cursive;

//Colors
$burger-color: #485461;
$title-color: #34414e;
$white-color: #fff;
$crema-color: #f0eeeae1;
$hover-color: #b4b0a4;
$btn-color: #7e7c76;
$back-color: #42464763;
$link-color: #1a2b30;
