//Fonts
$main-font: 'Open Sans', sans-serif;
$second-font: 'Ubuntu', sans-serif;
$logo-font: 'Grenze Gotisch', cursive;

//Colors
$burger-color: #485461;
$title-color: #34414e;
$white-color: #fff;
$hover-color: #b4b0a4;
$back-color: #42464763;
