.contacts {
  background-color: $burger-color;
  height: 300px;
}

.contacts__list {
  margin: auto;
  margin-top: 50px;
}

.contacts__item + .contacts__item {
  margin-top: 50px;
}

.contacts__item {
  margin: auto;
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
}

.contacts__item--contact {
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__item--icons {
  justify-content: space-around;
}

.contacts__link {
  display: block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.1);
  }
}

.contacts__link--skype {
  background-image: url(../images/icons/skype-1.svg);
}

.contacts__link--github {
  background-image: url(../images/icons/github.svg);
}

.contacts__link--linkedin {
  background-image: url(../images/icons/linkedin-1.svg);
}

.contacts__link--text {
  text-align: center;
  color: $link-color;
  font-size: 16px;
  font-weight: 600;
  transition: color 250ms linear;

  &:hover {
    color: $white-color;
  }
}

.contacts__item--icon {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .contacts {
    height: 400px;
  }

  .contacts__link--text {
    font-size: 20px;
  }

  .contacts__item {
    width: 400px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    height: 460px;
  }

  .contacts__item {
    height: 80px;
  }
}
