.container {
  max-width: 300px;
  padding: 0 15px;
  margin: auto;
}

.title {
  font-size: 20px;
  font-family: $main-font;
  text-align: center;
  color: $title-color;
}

.icon {
  width: 30px;
  height: 30px;
  margin: auto;
  background-image: url(../images/icons/infinity.svg);
}

.title-white {
  color: $white-color;
}

.icon-white {
  background-image: url(../images/icons/infinity-white.svg);
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }

  .title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .title {
    font-size: 30px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}
